.directory {
  list-style-type: none;
  margin: 0;
  padding: var(--mantine-spacing-sm);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--mantine-spacing-sm);
  overflow: auto;
}

.directory__item {
  position: relative;
}

.directory__badge {
  position: absolute;
  top: 0;
}
