.directory {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-height: 50%;
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.directory__list {
  list-style-type: none;
  margin: 0;
  padding: var(--mantine-spacing-sm);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--mantine-spacing-sm);
  overflow: auto;
}

.directory__header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.directory__item {
  position: relative;
}

.directory__badge {
  position: absolute;
  top: 0;
}
